.imagePlaceholderCopyPaste {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .viewsImagesRatio {
    position: relative;
    width: 80px;
    height: 80px;
  }
  .pubgBattlegrounds {
    align-self: stretch;
    position: relative;
    line-height: 20px;
    font-weight: 800;
  }
  .c7ad661Icon,
  .c7ad662Icon {
    position: absolute;
    top: 0;
    height: 12px;
  }
  .c7ad661Icon {
    left: 0;
    width: 12px;
    object-fit: cover;
  }
  .c7ad662Icon {
    left: 14px;
  }
  .c7ad662Icon,
  .c7ad663Icon,
  .c7ad664Icon {
    width: 12px;
    object-fit: cover;
  }
  .c7ad663Icon {
    position: absolute;
    top: 0;
    left: 28px;
    height: 12px;
  }
  .c7ad664Icon {
    left: 42px;
  }
  .c7ad664Icon,
  .c7ad665Icon,
  .flame {
    position: absolute;
    top: 0;
    height: 12px;
  }
  .c7ad665Icon {
    left: 56px;
    width: 12px;
    object-fit: cover;
  }
  .flame {
    left: 0;
    width: 68px;
  }
  .gameId {
    margin: 0;
  }
  .gameId1111122222Container {
    position: absolute;
    top: 16px;
    left: 0;
    line-height: 16px;
    white-space: pre-wrap;
    display: inline-block;
    width: 231px;
  }
  .flameParent {
    position: relative;
    width: 231px;
    height: 48px;
    font-size: var(--font-size-xs);
    color: var(--color-gray-100);
  }
  .newsSmall,
  .text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .text {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-5xs);
  }
  .newsSmall {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-base);
    z-index: 5;
  }
  .pubgBattlegroundsPubg {
    align-self: stretch;
    position: relative;
    line-height: 20px;
    font-weight: 800;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
    flex-shrink: 0;
  }
  .newsSmall1,
  .newsSmall2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .newsSmall1 {
    align-self: stretch;
    height: 104px;
    flex-direction: row;
    gap: var(--gap-base);
    z-index: 4;
  }
  .newsSmall2 {
    z-index: 3;
  }
  .newsSmall2,
  .newsSmall3,
  .newsSmall4 {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-base);
  }
  .newsSmall3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 2;
  }
  .newsSmall4 {
    z-index: 1;
  }
  .newsList,
  .newsSmall4,
  .newsSmall5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .newsSmall5 {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-base);
    z-index: 0;
  }
  .newsList {
    position: absolute;
    height: 30%;
    width: 87%;
    top: 61%;
    right: 6%;
    bottom: 0.83%;
    left: 6.41%;
    overflow-y: auto;
    flex-direction: column;
    gap: 24px;
  }
  .gd,
  .selectChild,
  .selectItem {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .gd {
    height: 42.19%;
    width: 99.99%;
    top: 57.81%;
    right: 0.01%;
    background: linear-gradient(
      179.72deg,
      rgba(98, 117, 247, 0),
      rgba(53, 61, 118, 0.3) 46.81%,
      #121212 83.97%
    );
  }
  .selectChild,
  .selectItem {
    width: 100%;
    right: 0;
    border-radius: 0;
    height: 56px;
  }
  .selectChild {
    background: linear-gradient(
      91.38deg,
      rgba(125, 255, 136, 0.65) 0.01%,
      rgba(97, 108, 255, 0.65) 49.83%,
      rgba(249, 89, 255, 0.65)
    );
    filter: blur(24px);
  }
  .selectItem {
    background: linear-gradient(91.38deg, #7dff88 0.01%, #616cff 49.83%, #f959ff);
  }
  .lastGame {
    width: 39.57%;
    bottom: 0;
    left: 60.43%;
    letter-spacing: 0.02em;
    line-height: 20px;
    display: inline-block;
  }
  .div,
  .lastGame,
  .selectInner,
  .viewList {
    position: absolute;
    height: 20px;
  }
  .viewList {
    width: 32.34%;
    bottom: 0;
    left: 0;
    letter-spacing: 0.02em;
    line-height: 20px;
    display: inline-block;
  }
  .div,
  .selectInner {
    width: 71.87%;
    right: 11.31%;
    bottom: 18px;
    left: 16.82%;
  }
  .selectInner {
    width: 0.61%;
    right: 49.54%;
    bottom: 22px;
    left: 49.85%;
    border-radius: 0;
    background-color: var(--color-gray-100);
    height: 12px;
  }
  .select {
    width: 87.2%;
    right: 6.4%;
    bottom: 40px;
    left: 6.4%;
    height: 56px;
    display: none;
    text-align: center;
    font-size: var(--font-size-lg);
  }
  .button01,
  .select,
  .top1 {
    position: absolute;
  }
  .button01 {
    height: 100%;
    width: 100%;
    top: -180%;
    right: -100%;
    bottom: 0;
    left: 0;
    border-radius: 0;
    backdrop-filter: blur(64px);
    border: 2px solid var(--color-white);
    box-sizing: border-box;
    transform-origin: 0 0;
  }
  .top1 {
    height: 55%;
    width: 38%;
    top: 15%;
    left: 40%;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
  }
  .iconsaxlineartrendup {
    position: absolute;
    height: 75%;
    width: 30%;
    top: 12%;
    right: 58%;
    bottom: 12%;
    left: 10%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .div1 {
    position: absolute;
    height: 120%;
    width: 100%;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .card,
  .imageIcon,
  .top {
    position: absolute;
    height: 3.76%;
    width: 8.61%;
    top: 62.76%;
    right: 85.05%;
    bottom: 33.48%;
    left: 6.34%;
  }
  .card,
  .imageIcon {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
  }
  .imageIcon {
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .card {
    background: linear-gradient(
        149.9deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.25) 37.33%,
        rgba(255, 255, 255, 0) 60.77%,
        rgba(255, 255, 255, 0.5)
      ),
      rgba(255, 255, 255, 0.05);
  }
  .inviteFriendsTo {
    position: absolute;
    height: 12%;
    width: 80%;
    top: 6%;
    left: 20%;
    letter-spacing: 0.02em;
    display: inline-block;
  }
  .banner {
    position: absolute;
    height: 86%;
    width: 120%;
    top: 0;
    right: -7%;
    bottom: 14%;
    left: -12%;
  }
  .experienceAndSwim {
    position: absolute;
    top: 249px;
    left: 0;
    line-height: 24px;
    display: inline-block;
    width: 327px;
  }
  .bannerSlogan {
    position: absolute;
    height: 38%;
    width: 72%;
    top: 15%;
    right: 12%;
    bottom: 38%;
    left: 15%;
    font-size: var(--font-size-base);
  }
  .vectorIcon {
    position: relative;
    width: 18px;
    height: 18px;
  }
  .iconsaxlinearsearchnormal1 {
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2px;
    box-sizing: border-box;
  }
  .searchByUserid {
    position: relative;
    line-height: 22px;
  }
  .iconsaxlinearsearchnormal1Parent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      #121212;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 17px 8px;
    box-sizing: border-box;
    gap: 12px;
  }
  .searchBar {
    position: absolute;
    height: 5%;
    width: 87%;
    top: 9%;
    right: 6%;
    bottom: 80%;
    left: 6%;
    color: #71717a;
  }
  .user,
  .userChild {
    position: absolute;
    width: 40px;
    height: 40px;
  }
  .userChild {
    top: 0;
    right: 0;
    border-radius: 0;
    object-fit: cover;
  }
  .user {
    top: 20px;
    right: 75px;
  }
  .home,
  .store,
  .topUp {
    position: absolute;
    width: 57%;
    top: 0;
    left: 0;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
  }
  .store,
  .topUp {
    width: 33%;
    left: 31%;
  }
  .topUp {
    width: 36%;
    left: 63%;
  }
  .topNavigationBar {
    position: absolute;
    width: 34%;
    top: 25px;
    right: 60%;
    left: 6%;
    height: 23px;
    font-size: var(--font-size-lg);
    color: var(--color-gray-200);
  }
  .homepage {
    position: relative;
    border-radius: 0;
    background-color: #121212;
    width: 100%;
    height: 720px;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    font-family: var(--font-plus-jakarta-sans);
  }
  